body {
  background-color: #000000;
  color: #CCCCC8;
  border-color: #E9492B;
  font-family: Comic Sans MS;
}
.header {
  font-size: 50px;
  width: 100%;
  border-bottom: 1px solid #CCCCC8;
  height: 100px;
}
/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  position: fixed;
  height: 100% - 100px;
  overflow: auto;
  border-right: 1px solid #CCCCC8;
}

/* Sidebar links */
.sidebar a {
  display: block;
  padding: 16px;
  text-decoration: none;
  color: inherit;
}

/* Active/current link */
.sidebar a.active {
  background-color: #E9492B;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: #E9492B;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.footer {
   position: absolute;
   margin-left: 200px;
   padding-left: 20px;
   left: 0;
   bottom: 0;
   height: 100px;
   width: 100% - 200px;
   color: inherit;
   border-top: 1px solid #CCCCC8;
}

.wrapper {
  margin-left: 200px;
  padding-left: 20px;
  width: 100% - 200px;
  height
}
