<div class="card" style="width:400px">
  <img class="card-img-top" src="something.png" alt="Card image" style="width:100%">
  <div class="card-body">
    <h4 class="card-title">Name of gb</h4>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet aliquet leo, ut aliquam est. Praesent pretium dolor sed elementum auctor. Curabitur elementum, purus vel laoreet euismod, ante nisl ultrices arcu, facilisis sodales leo ligula a arcu. Morbi elementum velit sed metus viverra, vitae vehicula risus feugiat. Integer sed felis id ipsum scelerisque suscipit non ac magna. Etiam eu lacus porta, tincidunt metus quis, condimentum elit. Pellentesque et tristique mi. Cras id pharetra erat. Nunc maximus urna quis dolor auctor, quis ultricies nulla facilisis. Integer eget mollis ante.</p>
    <a href="/" class="stretched-link"></a>
  </div>
