<!-- Container for the thread preview-->
{% for thread_info in thread_info %}
<button type="button" name="button" class="threadinfo btn" data-id="{{thread_info[0]}}">
  <div class = "container">
              <p><img class="lazy" alt="" src="static/images/{{thread_info[1]}}.jpg" width="100%" height="auto" onerror="this.src='static/images/default.jpg'"></p>
              <p><b>{{thread_info[2]}}</b></p>
              <p>{{thread_info[3]}}</p>
              <p>Posted: {{thread_info[4]}}</p>
  </div>
  </button>
{% endfor %}
