{% for row in results %}
  <div class = "container">
          <tr>
              <td><img alt="picture" src="https://media.thetab.com/blogs.dir/90/files/2021/05/screenshot-2021-05-04-at-113550.png" width="100px" height="100px"></td>
              <td>{{row[1]}}</td>
              <td>{{row[2]}}</td>
              <td>{{row[3]}}</td>
              <td>{{row[4]}}</td>
              <td>{{row[5]}}</td>
              <td>{{row[6]}}</td>
              <button data-id='{{row[0]}}' class="stretched-link gbinfo btn">gay</button>
          </tr>
  </div>
{% endfor %}
