<!doctype html>
<html>
  <head>
    <title>My Site</title>
    <link rel="stylesheet" href="static/css/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#FFFFFF">
    <meta name="description" content="Webapp">
    <title>GB Tracker</title>
    <meta content="Sitename - IC and GB Tracker" property="og:title">
    <meta content="Webapp" property="og:description">
    <meta content="sitename" property="og:site_name">
    <meta content="/logo512.png" property="og:image">
    <link href="static\css\style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    {% include 'header.html' %}
    {% include 'nav.html' %}
    {% include 'wrapper.html' %}
    {% block content %}{% endblock %}
    {% include 'footer.html' %}
  </body>
</html>
