{% for row in modal %}
<table border='0' width='100%'>
    <tr>
        <td width="100px"><img alt="picture" src="{{row[1]}}" width="100px" height="100px">
        <td style="padding:20px;">
          <b>{{row[2]}}</b>
          <p>Status: {{row[3]}}</p>
          <p>Type: {{row[4]}}</p>
          <p>Price: ${{row[5]}}</p>
          <p>Start Date: {{row[6]}}</p>
          <p>End Date: {{row[7]}}</p>
        </td>
    </tr>
</table>
{% endfor %}

<div class="modal fade" id="Modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">GB Info</h4>
                  <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
</div>
