<script>
  var slideIndex = 1;
  showSlides(slideIndex);
</script>

<!-- Container for the image gallery -->
<div class="slideshow-container" style="width:474px; height:266.5px">
{%for img in imgs%}
<div class="mySlides slideshowfade">
  <div class="numbertext">{{img[1]}} / {{(imgs[-1])[-1]}}</div>
  <img src="{{url_for('static',filename='images/'+img[0]|string+'.jpg')}}" style="width:474px; height:266.5px" onerror="this.src='{{url_for('static',filename='images/default.jpg')}}'">
</div>
{%endfor%}

<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>
<div style="text-align:center">
  {%for img in imgs%}
  <span class="dot" onclick="currentSlide({{img[1]}})"></span>
  {%endfor%}
</div>
