<!-- Container for the thread info -->
<script type="text/javascript" src="{{url_for('static', filename='js/slideshow.js')}}"></script>

<table border='0' width='100%'>
    <tr>
          <td>{% include 'slideshow.html' %}</td>
          <td padding="20px">
          <b><a class="confirm" href="https://geekhack.org/index.php?topic={{(thread_info[0])[0]}}">{{(thread_info[0])[3]}}</a></b>
          <p><a class="confirm" href="https://geekhack.org/index.php?action=profile;u={{(thread_info[0])[1]}}">{{(thread_info[0])[4]}}</a></p>
          <p>{{(thread_info[0])[5]}}</p>
          <p>Posted: {{(thread_info[0])[6]}}</p>
          <b>LINKS</b>
            {% for link in thread_info %}
              {% if link[2] != None %}
              <p><a class="confirm" href="{{link[2]}}">{{link[2]}}</a></p>
              {% else %}
              <p>Thread contains no links</p>
              {% endif %}
            {% endfor %}
        </td>
    </tr>
</table>
